@using ChatbotApi.Application.PlayLists.Commands.CreatePlayListCommand
@model CreatePlayListCommand
@inject ILocalizerService L
@{
    ViewData["Title"] = "เพิ่มเพลงใหม่";
}

<div class="row">
    <div class="col-md-6">
        <h3 class="mb-3 text-white">
            <i class="border-radius-lg shadow-sm material-icons">add</i> @ViewData["Title"]
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 p-3">
                <div class="d-flex gx-2">
                    <i class="material-icons pb-2">music_note</i>
                    <h6>@ViewData["Title"]</h6>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <partial name="InputEditText"
                                model="@("MusicName", PropertyHelper<CreatePlayListCommand>.GetDisplayName(m => m.MusicName, L), Model?.MusicName)" />
                        </div>
                        <div class="col-md-6">
                            <partial name="InputEditText"
                                model="@("AlbumName", PropertyHelper<CreatePlayListCommand>.GetDisplayName(m => m.AlbumName, L), Model?.AlbumName)" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <button type="submit" class="btn bg-gradient-primary">
                                <i class="material-icons">save</i> บันทึก
                            </button>
                            <a asp-controller="PlayLists" asp-action="Index" class="btn bg-gradient-secondary">
                                <i class="material-icons">arrow_back</i> กลับ
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>